* {
  box-sizing: border-box;
  padding: 1.5px;
}
body {
  background-image: url(yousaf_editz4_7492402223587151159.jpeg);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(40%);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}