* {
  box-sizing: border-box;
  padding: 1.5px;
}
body {
  background-image: url(/img/yousaf_editz4_7492402223587151159.jpeg);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(40%);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  background: linear-gradient(to right, white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main {
  display: flex;
}
.education,
.skills {
  width: 70%;
  margin-left: 100px;
}
main img {
  border-radius: 30rem;
  flex-wrap: wrap;
  border: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
}
#menu-toggle {
  display: none;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 20px 290px;
}
.nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.651);
  font-size: 20px;
  padding: 10px;
}
.subskills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}